@using BoardMan.Web.Controllers

The plan is not longer valid, please choose other <a asp-controller="@(ControllerUtils.GetControllerName<PlansController>())" asp-action="@nameof(PlansController.Index)">plans</a>